* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  position: relative;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 1em;
  background-color: #000000;
}

.jblancasmx {
  font-family: "Caveat", cursive;
  background: black;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 4em;
  padding: 15px 0px 20px 30px;
  border-bottom: 0.1px solid rgb(207, 202, 168);
  background: url("https://us.123rf.com/450wm/naropano/naropano1708/naropano170800031/83852037-textura-de-madera-del-fondo-negro-en-blanco-para-el-dise%C3%B1o.jpg");
}

.nombrecancion {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 2vw;
  padding: 25px 0px 0px 0px;
  text-align: center;
  margin: 0px 0px;
}

video {
  padding: 0;
  margin: 0 auto;
  border: 0.1px solid rgb(197, 193, 153);
  display: block;
  width: 850px;
  height: auto;
}

.footer {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding: 0.8em 0;
  margin: 0;
  text-align: center;
  position: fixed;
  color: rgb(0, 0, 0);
  bottom: 0;
  width: 100%;
  border-top: 4px solid rgb(191, 184, 126);
}
